body {
    background-color: rgb(255, 255, 255);

}

.container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 800px;
    background-color: rgba(23, 60, 180, 0.651);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: justify;
}


@media only screen and (max-width: 600px) {
    .apresentacao {
        display: none;
    }

    .container {
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        width: 400px;
        background-color: rgb(128, 9, 9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

  }

